@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* UNIVERSAL RESETS */
/* //////////////// */
/* //////////////// */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #1b1c1e;
  width: 100%;
  overflow-x: hidden;
}

button {
  font-family: "DM Sans", sans-serif;
  color: #1b1c1e;
}

button:hover{
  cursor: pointer;
}

a, a:link {
  color: #1b1c1e;
}

/* HEADER */
/* //////////////// */
/* //////////////// */

header {
  padding: 2rem 5rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
  border-bottom: 1px solid #e3e3e3;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.header-left a{
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-left a:hover{
  text-decoration: underline;
}

.header-left a:first-child:hover{
  text-decoration: none;
}

header h1{
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color:#fff;
  background-color: #735DA5;
  padding: 1rem;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header ul a{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #1b1c1e;
  font-size: 0.8em;
  transition: all 0.2s;
}

header ul a:hover{
  color: #a2a2a2;
}

header button {
  background-color: transparent;
  border: none;
  transition: all 0.2s;
}

header button:hover{
  color: #a2a2a2;

}

a{
  text-decoration: none;
  color: #1b1c1e;
}

.cart-icon-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 1rem; */
}

.wishlist-icon-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* BURGER MENU */
/* //////////////// */
/* //////////////// */

.burger-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #735DA5;
  color: #F3F3F3;
  animation: slide-in-right 0.2s ease-in;
}

.burger-menu a{
  font-size: 2em;
  color: #F3F3F3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* CART SIDEBAR */
/* //////////////// */
/* //////////////// */

.cart {
  height: 100%;
  width: 30%;
  position: fixed;
  top: 0%;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 1000;
  padding: 1rem;
  animation: slide-in-left 0.3s ease-out;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  padding: 1rem;
  background-color: #fff;
}

.cart-header-text{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-header-text h2{
  text-transform: uppercase;
  font-weight: 300;
}

.cart-header-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #735DA5;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.cart-header button {
  background-color: transparent;
  border: none;
  transition: all 0.1s;
}

.cart-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  height: 80%;
  overflow-y: scroll;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.empty-cart a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e3e3e3;
  padding: 1rem;
  background-color: #fff;
}

.checkout-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-btn {
  border: none;
  width: 12rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  background-color: #735DA5;
  border: 2px solid #735DA5;
  border-radius: 5rem;
  transition: all 0.2s;
}

.checkout-btn:hover {
  background-color:#fff;
  border: 2px solid #735DA5;
  color: #735DA5;
}

/* CART SIDEBAR ITEM */
/* //////////////// */
/* //////////////// */

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* background-color: #F3F3F3; */
  padding: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

.cart-item img {
  width: 5rem;
  height: 5rem;
  /* padding: 0.5rem; */
  background-color: #cacaca;
}

.cart-item-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item-text h2{
  font-weight: 400;
  font-size: 1em;
}

.cart-item-text h3{
  font-weight: 300;
  font-size: 1em;
}

.cart-item button{
  background: none;
  border: none;
}

/* HOMEPAGE */
/* //////////////// */
/* //////////////// */

.home {
  padding: 5rem 7rem;
  margin-top: 7rem;
}

.home-hero {
  height: 60vh;
  background-color: #cacaca;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  /* animation: hero-fade-in 1s ease; */
}

.home-hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-20rem);
  animation: slide-up-hero-text 0.8s ease;
}

.home-hero-text h1{
  font-size: 4em;

}

.home-hero-text h2{
  animation: slide-up-h2 0.8s ease;
}

.hero-0 {
  background: url("../hero-furniture.jpg");
  background-size: cover;
  background-position-y: 60%;
}

.hero-1 {
  background: url("../hero-furniture.jpg");
  background-size: cover;
  background-position-y: 30%;
}

.hero-2 {
  background: url("../hero-furniture.jpg");
  background-size: cover;
  background-position-y: 90%;
}

.hero-dots {
  position: relative;
  top: 30%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dot{
  width: 1rem;
  height: 1rem;
  background-color: #1b1c1e;
  border-radius: 50%;
  transition: all 0.2s;
}

.dot:hover{
  cursor: pointer;
  scale: 1.2;
}

.active-dot{
  background-color: #735DA5;
}

.benefits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.benefits-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}

.benefits-card-text {
  display: flex;
  flex-direction: column;
}

.benefits-card-text h4{
  font-weight: 400;
}

.benefits-card-img-container{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ccc2e3; */
  background-color: #e0d9ef;
  border-radius: 50%;
  transition: all 0.2s;
}

.benefits-card:hover .benefits-card-img-container{
  transform: rotateZ(-20deg);
  scale: 1.1;
}

.benefits-card-img-container svg{
  color: #735DA5;
}

.new-arrivals{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.new-arrivals h2{
  font-size: 2em;
}

.new-arrivals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1rem;
  width: 100%;
}

.view-all-products-btn{
  padding: 1rem;
  background-color: #fff;
  color: #1b1c1e;
  margin-top: 5rem;
  border: 1px solid #e3e3e3;
  border-radius: 5rem;
  transition: all 0.2s;
}

.view-all-products-btn:hover{
  cursor: pointer;
  color: #fff;
  background-color: #735DA5;
}

/* ABOUT PAGE */
/* //////////////// */
/* //////////////// */

.about-page {
  padding: 5rem 7rem;
  margin-top: 7rem;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.about-header h1{
  text-transform: uppercase;
  color: #F3F3F3;
  letter-spacing: 0.1em;
  background-color: #735DA5;
  padding: 2rem;
}

.about-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.about-us-text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.about-us-text-box h2{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.about-us-text-box p{
  line-height: 1.5em;
  color: #626262;
}

/* PRODUCTS PAGE */
/* //////////////// */
/* //////////////// */

.products {
  padding: 5rem 7rem;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 1rem;
  width: 20%;
  border-right: 1px solid #e3e3e3;
  padding-right: 2rem;
}

.buttons h2{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.buttons button{
  text-align: left;
  border: none;
  text-transform: capitalize;
}


.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-buttons button{
  background-color: transparent;
  color: #1b1c1e;
  border-bottom: solid 1px #cacaca;
  transition: all 0.1s;
}

.filter-buttons button:hover{
  color: #95989c;
}

.active-filter {
  font-weight: 700;
}

.sort-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sort-buttons button{
  background-color: transparent;
  color: #1b1c1e;
  border-bottom: solid 1px #cacaca;
  transition: all 0.1s;
}

.sort-buttons button:hover{
  color: #95989c;
}

.active-sort {
  font-weight: 700;
}

.reset-btn {
  padding: 1rem;
  background-color: #1b1c1e;
  color: #fff;
  transition: all 0.2s;
}

.reset-btn:hover {
  background-color: #fff;
  color: #1b1c1e;
  border: 1px solid #1b1c1e;
}

.product-grid {
  display: grid;
  row-gap: 10rem;
  column-gap: 0.8rem;
  width: 70%;
}

.product-grid span{
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1rem;
}

/* PRODUCT CARDS */
/* //////////////// */
/* //////////////// */

.product-card {
  width: 18rem;
  height: 18rem;
  display:grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product-card-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.3rem;
}

.product-card h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.product-card h4 {
  font-size: 0.8em;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.product-card-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18rem;
  width: 17rem;
  background-color: #F3F3F3;
  overflow: hidden;
  border-radius: 5px;
}

.product-card img {
  height: 18rem;
  width: 18rem;
  /* padding: 1rem; */
  transition: all 0.2s;
}

.product-card{
  color: #1b1c1e;
  text-decoration: none;
}

.product-card:hover {
  text-decoration: underline;
}

.product-card:hover img{
  height: 20rem;
  width: 20rem;
}

.stars {
  color: #fec907;
}

/* PRODUCT DETAILS PAGE */
/* //////////////// */
/* //////////////// */

.product-hero {
  padding: 5rem 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10rem;
  background-color: #FAFAFA;
  margin-top: 7rem;
}

.product-img-container {
  display: flex;
  gap: 1rem;
}

.image-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vh;
  height: 90vh;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10px;
  margin: 0 auto;
  margin-top: 2rem;
  z-index: 10000;
  background-color: #fff;
  animation: fade-in 0.2s ease;
}

.image-modal img{
  height: 100%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thumbnail-img-container{
  width: 7rem;
  height: 7rem;
  overflow: hidden;
}

.thumbnails img {
  height: 7rem;
  background-color: #F3F3F3;
  transition: all 0.2s;
  border-radius: 5px;
  cursor: pointer;
}

.thumbnails img:hover {
  background-color: #cacaca;
}

.active-thumbnail {
  border: solid 1px #735DA5;
  border-radius: 5px;
}

.main-img {
  width: 31rem;
  height: 31rem;
  background-color: #F3F3F3;
  cursor: zoom-in;
}

.product-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.product-text h1{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.product-text h2{
  font-size: 1.5;
  font-weight: 300;
}

.product-text p{
  line-height: 1.5em;
  margin-bottom: 1rem;
  font-weight: 300;
  color: grey;
}

.product-text-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  color: grey;
}

.current-quantity-field{
  width: 1rem;
}

.product-quantity button {
  border: none;
  background-color: transparent;
  color: grey;
}


.add-to-cart-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  background-color: #735DA5;
  border: 2px solid #735DA5;
  border-radius: 5rem;
  transition: all 0.2s;
}

.add-to-cart-btn:hover{
  background-color: #fff;
  color: #735DA5;
}

.add-to-cart-btn:active{
  scale: 1.1;
}

.add-to-wishlist-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  padding: 0.3rem;
  border: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background-color: transparent;
  transition: all 0.2s;
}

.add-to-wishlist-btn-img-container{
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d9ef;
  border-radius: 50%;
}

.add-to-wishlist-btn svg{
  color: #735DA5;
}

.add-to-wishlist-btn:hover {
  color: #626262;
}

.section-tabs {
  background-color: #FAFAFA;
  display: flex;
  padding-left: 7rem;
  padding-top: 3rem;
}

.section-tabs button {
  padding: 1rem 3rem;
  border-radius: 0px;
  border: 1px solid #e3e3e3;
  transition: all 0.2s;
}

.section-tabs button:first-child{
  border-right: none;
}

.section-tabs button:last-child {
  border-left: none;
}

.active-tab {
  background-color: #1b1c1e;
  color: white
}

.product-description {
  padding: 5rem 7rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.product-description h2{
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.product-description p {
  line-height: 1.5em;
}

.additional-info {
  padding: 5rem 7rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.additional-info h2{
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.additional-info p {
  line-height: 1.5em;
}

.reviews {
  padding: 5rem 7rem;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.reviews h2{
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.reviews p {
  line-height: 1.5em;
}

.related-products {
  padding: 5rem 7rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related-products h2{
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  color: #979797;
}

.related-product-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PROFILE PAGE */
/* //////////////// */
/* //////////////// */

.profile{
  padding: 5rem 7rem;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.profile h2{
  border-bottom: 1px solid #e3e3e3;
}

.profile-page footer{
  margin-top: 0;
}

.profile-sidebar{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-right: 1px solid #e3e3e3;
}

.profile-sidebar-top{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem
}

.profile-sidebar ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-sidebar a{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-sidebar a:hover{
  text-decoration: underline;
}

.profile-account{
  padding: 2rem;
}

.profile-orders{
  padding: 2rem;
}

.profile-settings{
  padding: 2rem;
}


/* WISHLIST PAGE */
/* //////////////// */
/* //////////////// */

.wishlist{
  padding: 5rem 7rem;
  margin-top: 9rem;
}

.wishlist h1{
  text-align: center;
  font-size: 3em;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.empty-wishlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-wishlist h1{
  font-size: 3em;
  text-transform: none;
  letter-spacing: 0;
}

.empty-wishlist a{
  background-color: #735DA5;
  padding: 1rem 3rem;
  font-size: 0.5em;
  border-radius: 5rem;
  border: 2px solid #735DA5;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.5em;
  transition: all 0.2s;
}

.empty-wishlist a:hover{
  color: #735DA5;
  background-color: #fff;
}

/* WISHLIST CARD */
/* //////////////// */
/* //////////////// */

.wishlist-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: solid 1px #e3e3e3;
}

.wishlist-card-main{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.remove-from-wishlist-btn{
  background-color: transparent;
  border: none;
}

.wishlist-card-main img{
  height: 10rem;
  width: 10rem;
  background-color: #e3e3e3;
}

.wishlist-card-main h1{
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0;
}

.wishlist-card h2{
  font-size: 1.5em;
  font-weight: 400;
}

.wishlist-add-to-cart-btn{
  padding: 1rem 3rem;
  font-size: 1em;
  border-radius: 5rem;
  border: 2px solid #735DA5;
  color: #fff;
  background-color: #735DA5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.2s;
}

.wishlist-add-to-cart-btn:hover{
  color: #735DA5;
  background-color: #fff;
}

/* CHECKOUT */
/* //////////////// */
/* //////////////// */

.checkout{
  padding: 5rem 7rem;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.checkout-items{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.checkout-item-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  border-bottom: solid 1px #e3e3e3;
  padding: 1rem;
  padding-left: 0;
}

.checkout-item-card img{
  height: 5rem;
  width: 5rem;
}

.checkout-item-left{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkout-item-right{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.checkout-item-right button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.checkout-total{
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
}

.checkout-payment {
  background-color: #e3e3e3;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment-radio-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.payment-radio-container h2{
  font-size: 1em;
  font-weight: 400;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container-label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1em;
  font-weight: 500;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #e3e3e3;
  border-radius: 50%;
  border: 3px solid #1b1c1e;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #e3e3e3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #735DA5;
}

.checkout-payment .checkout-btn {
  border: none;
  width: 100%;
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  background-color: #735DA5;
  border: 2px solid #735DA5;
  border-radius: 5rem;
  transition: all 0.2s;
}

.checkout-payment .checkout-btn:hover {
  background-color:#e3e3e3;
  border: 2px solid #735DA5;
  color: #735DA5;
}

.empty-checkout-cart {
  font-size: 2em;
  margin-top: 7rem;
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.empty-checkout-cart a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ERROR PAGES */
/* //////////////// */
/* //////////////// */

.product-not-found {
  padding: 5rem 7rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2em;
  text-align: center;
}

.product-not-found h2{
  font-weight: 400;
}

.page-not-found{
  padding: 5rem 7rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2em;
  text-align: center;
}

.page-not-found h2{
  font-weight: 400;
}

.product-not-found a, .page-not-found a{
  background-color: #735DA5;
  padding: 1rem 3rem;
  font-size: 0.8em;
  border-radius: 5rem;
  border: 2px solid #735DA5;
  color: #fff;
  margin-top: 2rem;
  transition: all 0.2s;
}

.product-not-found a:hover, .page-not-found a:hover{
  color: #735DA5;
  background-color: #fff;
}

/* FOOTER */
/* //////////////// */
/* //////////////// */

footer {
  padding: 5rem 7rem;
  color: white;
  background-color: #1b1c1e;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 7rem;
}

.footer-list h4{
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-list li{
  font-size: 0.9em;
}

/* OVERLAY FOR MODALS */
/* //////////////// */
/* //////////////// */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 500;
  transition: all 0.5s;
  animation: fade-in 0.4s;
}

/* ANIMS */
/* //////////////// */
/* //////////////// */

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-fade-in {
  0% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0%{
    transform: translateX(+100%);
  }
  100%{
    transform: none;
  }
}

@keyframes slide-in-right {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: none;
  }
}

@keyframes slide-up-hero-text {
  0% {
    opacity: 0;
    transform: translateY(10rem) translateX(-20rem);
  }
  100% {
    opacity: 1;
    transform: translateX(-20rem);
  }
}

@keyframes slide-up-h2 {
  0%{
    opacity: 0;
    transform: translateY(12rem);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    scale:1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

/* MEDIA QUERIES */
/* //////////////// */
/* //////////////// */

/* MEDIA QUERIES - HEADER*/
/* //////////////// */
/* //////////////// */

@media (max-width: 800px){
  header{
    padding: 1rem 3rem;
  }
}

@media (max-width: 500px){
  header {
    padding: 0.5rem 1.5rem;
    /* height: 6rem; */
  }

  .header-left a:first-child{
    font-size: 0.8em;
  }
}

/* MEDIA QUERIES - CART*/
/* //////////////// */
/* //////////////// */

@media (max-width: 1200px){
  .cart{
    width: 40%;
    left: 60%;
  }
}

@media (max-width: 800px){
  .cart{
    width: 100%;
    left: 0;
  }
}

/* MEDIA QUERIES - HOMEPAGE*/
/* //////////////// */
/* //////////////// */

@media (max-width: 1400px){
  .home-hero-text{
    transform: none;
    animation: none;
  }
}

@media (max-width: 1300px){
  .new-arrivals-grid{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 6rem;
  }
}

@media (max-width: 1000px){
  .benefits{
    display: none;
  }
}

@media (max-width: 800px){
  .home{
    padding: 1rem 3rem;
  }

  .home-hero-text {
    font-size: 0.8em;
  }

  .new-arrivals-grid{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px){
  .home{
    padding: 0;
  }

  .home-hero{
    border-radius: 0;
  }

  .home-hero-text {
    font-size: 0.6em;
  }
}

/* MEDIA QUERIES - PRODUCTS*/
/* //////////////// */
/* //////////////// */

@media (min-width: 1300px){
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1300px ){
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-grid span{
    grid-column: span 2;
  }
}

@media (max-width: 1050px){
  .products {
    padding: 3rem 5rem;
  }
}

@media (max-width: 950px ){
  .product-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .product-grid span{
    grid-column: span 1;
  }
}

@media (max-width: 750px){
  .products{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px){
  .products{
    padding: 1rem 3rem;
  }
}

@media (max-width: 450px){
  .products{
    padding: 1rem 1.5rem;
  }

  .products .product-card{
    width: 15rem;
    height: 15rem;
  }
}

/* MEDIA QUERIES - PRODUCTS FILTER */
/* //////////////// */
/* //////////////// */

@media (max-width: 750px){
  .buttons {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 0;
    border-right: none;
  }

  .reset-btn {
    height: 30%;
    align-self: center;
  }  
}

/* MEDIA QUERIES - PRODUCT PAGE*/
/* //////////////// */
/* //////////////// */

@media (max-width: 1300px){
  .product-hero{
    gap: 5rem;
  }

  .related-product-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 7rem;
    column-gap: 5rem;
  }
}

@media (max-width: 1150px){
  .product-hero{
    grid-template-columns: 1fr;
  }

  .product-img-container{
    justify-self: center;
  }
}

@media (max-width: 750px){
  .main-img{
    height: 25rem;
    width: 25rem;
    pointer-events: none;
  }

  .product-img-container{
    flex-direction: column-reverse;
  }

  .thumbnails{
    flex-direction: row;
  }

  .thumbnail-img-container {
    height: 5.5rem;
    width: 5.5rem;
  }

  .product-text-buttons{
    display: grid;
    grid-template-columns: 1fr;
  }

  .product-quantity{
    justify-self: flex-start;
  }

  .related-product-cards{
    grid-template-columns: 1fr;
  }

  .section-tabs{
    padding-left: 5rem;
  }
}

@media (max-width: 650px){
  .section-tabs{
    padding-left: 3rem;
  }
}

@media (max-width: 600px){
  .product-hero{
    padding: 3rem 5rem;
  }

  .section-tabs{
    padding-left: 0;
  }

  .product-description, .additional-info, .reviews{
    padding: 3rem 5rem;
  }
}

@media (max-width: 500px){
  .product-hero{
    padding: 1rem 2rem;
  }

  .main-img {
    width: 20rem;
    height: 20rem;
  }

  .thumbnail-img-container {
    width: 4.25rem;
    height: 4.25rem;
  }

  .section-tabs button{
    width: 33%;
  }
}

@media (max-width: 400px){
  .product-hero{
    padding: 1rem 1.5rem;
  }

  .main-img {
    width: 18rem;
    height: 18rem;
  }

  .thumbnail-img-container {
    width: 3.75rem;
    height: 3.75rem;
  }
}

/* MEDIA QUERIES - WISHLIST*/
/* //////////////// */
/* //////////////// */

@media (max-width: 1100px){
  .wishlist{
    padding: 3rem 5rem;
  }

  .wishlist-card{
    padding: 1rem;
  }
}

@media (max-width: 950px){
  .wishlist-card-main img{
    height: 8rem;
    width: 8rem;
  }

  .wishlist-card-main h1{
    font-size: 1em;
  }

  .wishlist-card h2{
    font-size: 1em;
  }

  .wishlist-add-to-cart-btn{
    padding: 0.5rem 1.5rem;
    font-size: 0.8em;
  }
}

@media (max-width: 750px){
  .wishlist{
    padding: 1rem 3rem;
  }

  .wishlist-card-main img{
    height: 6rem;
    width: 6rem;
  }

  .wishlist-card-main h1{
    font-size: 0.8em;
  }

  .wishlist-card h2{
    font-size: 0.8em;
  }

  .wishlist-add-to-cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
}

@media (max-width: 600px){
  .wishlist{
    padding: 1rem;
  }

  .wishlist > h1{
    font-size: 2em;
  }

  .wishlist > h1 svg{
    display: none;
  }

  .wishlist-card-main{
    gap: 1rem;
  }

  .wishlist-card-main img{
    width: 4rem;
    height: 4rem;
  }
}

/* MEDIA QUERIES - ACCOUNT*/
/* //////////////// */
/* //////////////// */

@media (max-width: 1000px){
  .profile{
    padding: 3rem 5rem;
    grid-template-columns: 1fr;
  }

  .profile-sidebar{
    flex-direction: row;
    justify-content: space-between;
    border: none
  }

  .profile-sidebar ul{
    flex-direction: row;
  }
}

/* MEDIA QUERIES - CHECKOUT*/
/* //////////////// */
/* //////////////// */

@media (max-width: 1100px){
  .checkout{
    padding: 3rem 5rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px){
  .checkout {
    padding: 1rem 3rem;
  }
  
  .checkout-item-card{
    gap: 3rem;
  }

  .checkout-item-card img{
    width: 3rem;
    height: 3rem;
  }

  .checkout-item-card h2{
    font-size: 1rem;
  }

  .checkout-item-card h3{
    font-size: 0.8rem;
  }

  .checkout-item-card h4{
    font-size: 0.8rem;
  }

  .checkout-item-right{
    gap: 3rem;
  }
}


/* MEDIA QUERIES - FOOTER */
/* //////////////// */
/* //////////////// */

@media (max-width: 800px){
  footer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }
}

@media (max-width: 650px){
  footer{
    grid-template-columns: 1fr;
  }
}

/* MEDIA QUERIES - ERROR PAGES */
/* //////////////// */
/* //////////////// */

@media (max-width: 650px){
  .product-not-found{
    padding: 3rem 5rem;
  }
}

@media (max-width: 550px){
  .empty-wishlist h1{
    font-size: 2em;
  }

  .empty-wishlist a{
    padding: 0.5rem 1.5rem;
    font-size: 1.2em;
  }

  .page-not-found {
    padding: 3rem 5rem;
  }

  .page-not-found h2{
    font-size: 1em;
  }

  .page-not-found a{
    padding: 0.5rem 1.5rem;
    font-size: 0.8em;
  }
   
  .product-not-found h1{
    font-size: 1.4em;
  }

  .product-not-found h2{
    font-size: 1em;
  }

  .product-not-found a{
    padding: 0.5rem 1.5rem;
    font-size: 0.8em;
  }
}